<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">
.kanji_favorites_regist img, .kanji_favorites_regist2 img{
width : 50px;
height : 50px;
}

</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){

	
});
/*]]>*/

/*<![CDATA[*/
$(function(){
	
	
	$(".kanji_favorites_regist").click(function(e){
		var click_favorites = $(this);
		var favorites = $(this).siblings().first().text();
		
		console.log(click_favorites.children().attr("src"));
		
		if(click_favorites.children().attr("src")=='/images/star-1.png'){
			
			$.ajax({
				type : 'POST',
				url : '/favorites/delete',
				data : { 
					'kanji_id' : favorites  
				},
				success : function(data) {
					 click_favorites.children().attr("src","/images/star-2.png");
					 click_favorites.attr("class","kanji_favorites_regist2");
				},
				error : function(xhr, status) {
					alert("실패");
				}
			});
			
		}else{
			
			$.ajax({
				type : 'POST',
				url : '/favorites/regist',
				data : { 
					'kanji_id' : favorites  
				},
				success : function(data) {
					 click_favorites.children().attr("src","/images/star-1.png");
					 click_favorites.attr("class","kanji_favorites_regist");
				},
				error : function(xhr, status) {
					alert("실패");
				}
			});
		}
		
		
		
		
		
   		
		

	
	});
});
/*]]>*/


</script>
<title>Insert title here</title>
</head>
<body>
<main>
	<div class = "kanji_list_top_wrap">
	
		<div class = "kanji_test_button" th:text="테스트" th:onclick="'location.href = \'' + @{/kanji/testSelect(course_index=${course_index})} + '\''" ></div>
	
	</div>
	<div class = "kanji_list_center_wrap">	
		<div th:each ="list , i : ${kanji_list}">
			<div  class = "kanji_favorites_regist" th:if="${list.kanjiId} == ${favorites_list[i.index]}">
				<img th:src="@{/images/star-1.png}">
			</div>
			<div  class = "kanji_favorites_regist" th:unless="${list.kanjiId}==${favorites_list[i.index]}">
				<img th:src="@{/images/star-2.png}">
			</div>
			<div th:text="${list.kanjiId}"></div>
			<div th:text="${list.kanjiCharacter}"></div>
			<div th:text="${list.kanjiSoundMean}"></div>
			<div th:text="${list.jpMean}"></div>
			<div th:text="${list.jpSound}"></div>	
			<br>
			<br>
		</div>
	</div>	
</main>
</body>
</html>