<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main>

	<div class = "kanji_list_top_wrap">
	
		<div class = "kanji_test_button" th:text="테스트" th:onclick="'location.href = \'' + @{/kanji/testSelect(course_index=${course_index})} + '\''" ></div>
	
	</div>
	<div class = "kanji_list_center_wrap">	
		<div th:each ="list : ${kanji_list}">
			<div th:text="${list.kanjiId}"></div>
			<div th:text="${list.kanjiCharacter}"></div>
			<div th:text="${list.kanjiSoundMean}"></div>
			<div th:text="${list.jpMean}"></div>
			<div th:text="${list.jpSound}"></div>			
			<br>
		</div>
	</div>	
</main>
</body>
</html>