<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script>



</script>
<meta charset="UTF-8">
<title>Insert title heree</title>
</head>
<body>
<div class = "kanji_listSelect_wrap">
	
		<div class = "kanji_listSelect_top_wrap">
		
			<div>한자 리스트</div>
		
		</div>
		<div class = "kanji_listSelect_center_wrap">
			
			<div>
				<div class = "today_kanji" onclick="location.href='/kanji/listSelect2'">선택 코스 한자리스트</div>
				<div class = "favorite_kanji" onclick="location.href='/kanji/favoritesList'">즐겨찾기 한자</div>
				<div class = "course_reselection" onclick = "location.href='/course/reselection'">코스 재선택</div>
			</div>
		</div>	
	
	</div>
</body>
</html>