<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:inline="javascript">


$(document).ready(function(){
    var items =  $(".seikai_list");

    for(var i = 0; i < items.length; i++){
    	
    	var itemsChild = $(".seikai_list").eq(i).children();
    	
    	for(var j = 0; j < itemsChild.length; j++){

            var idx = Math.floor(Math.random() * itemsChild.length -1) + 1;

            var idx2 = Math.floor(Math.random() * itemsChild.length -1) + 1;

            itemsChild.eq(idx).before(itemsChild.eq(idx2));
    	};
	};
});

var seikairitsu = 0;
var total = 0;

function seikai(){
	
	seikairitsu += 1;
	total += 1;
	console.log(seikairitsu/total);
	
}

function kokai(){
	
	total += 1;
	console.log(seikairitsu/total);
	
}


</script>
<meta charset="UTF-8">
<title>Insert title heree</title>
</head>
<body>
<main>
	<div class = "kanji_list_center_wrap">	
		<div th:each ="list , i : ${kanji_list}">
		
			<div>
				<div th:if="${type}=='character'" th:text="${list.kanjiSoundMean}"></div>
				<div th:unless="${type}=='character'" th:text="${list.kanjiCharacter}"></div>
			</div>
			
			<div class = "seikai_list">
				<div id = "testlist" class = "seikai" th:if="${type}=='character'" th:text="${list.kanjiCharacter}" th:onclick="seikai()"></div>
				<div id = "testlist" class = "seikai" th:unless="${type}=='character'" th:text="${list.kanjiSoundMean}" th:onclick="seikai()"></div>
				<div id = "testlist" th:text="${kokai1[i.index]}" th:onclick="kokai()"></div>
				<div id = "testlist" th:text="${kokai2[i.index]}" th:onclick="kokai()"></div>
				<div id = "testlist" th:text="${kokai3[i.index]}" th:onclick="kokai()"></div>
			</div>
			<br>
		</div>
	</div>	
</main>
</body>
</html>